<div class="form-group msg-form">
<%= form_with(model: [@single_room , @message ] , remote: true , class: 'd-flex', 
    html: { onsubmit: 'clearMessageInput(event);' }) do |f|  %>
<%= f.text_field :body , id: 'chat-text' , class: 'chat-text form-control msg-content', autocomplete: 'off' %>
<%= f.submit  data: {disable_with: false} , class: 'btn-btn-primary' %>
</div>

<script>
function clearMessageInput(event) {
  setTimeout(function() {
    document.getElementById('chat-text').value = '';
  }, 100);
}
</script>
<% end %>